*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(68, 68, 68, 0);
}

@-ms-viewport {
  width: device-width;
}

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: "Pragati Narrow", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.2;
  color: #444444;
  text-align: left;
  background-color: #ffeaa7;
  letter-spacing: 1px;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 25px;
}

p {
  margin-top: 0;
  margin-bottom: 15px;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 300;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

dfn {
  font-style: italic;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: #00b894;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  border-collapse: collapse;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: 1px;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

@media (min-width: 767px) {
  .do-it-container {
    width: 100%;
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.do-it {
  max-width: 650px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media (min-width: 1000px) {
  .do-it {
    max-width: 700px;
  }
}

.do-it h1 {
  text-align: center;
  margin-bottom: 40px;
}

@media (min-width: 1000px) {
  .do-it h1 {
    font-size: 56px;
  }
}

.do-it .do-it__add .field,
.do-it .do-it__add .button {
  display: inline-block;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  height: 55px;
  vertical-align: middle;
}

.do-it .do-it__add .field {
  width: calc(100% - 100px);
  padding-left: 15px;
  padding-right: 15px;
  border: 0;
  outline: none !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #444444;
}

.do-it .do-it__add .button {
  background-color: #00b894;
  color: #ffffff;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  outline: none !important;
  border: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 0;
  margin-left: -7px;
  width: 100px;
  cursor: pointer;
}

.do-it .do-it__add .button:hover, .do-it .do-it__add .button:focus {
  background-color: #00ae8c;
}

.do-it .do-it__list {
  margin-top: 40px;
  max-height: 450px;
  overflow-x: scroll;
}

.do-it .do-it__list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.do-it .do-it__list ul > li {
  padding: 10px 15px 10px 45px;
  margin-bottom: 10px;
  cursor: pointer;
  position: relative;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
}

.do-it .do-it__list ul > li:last-child {
  margin-bottom: 0;
}

.do-it .do-it__list ul > li::before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f00c";
  position: absolute;
  top: 11px;
  left: 0;
  font-size: 13px;
  height: 25px;
  width: 25px;
  padding: 5px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  border: 1px solid;
  border-color: #444444;
  opacity: 0.3;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

.do-it .do-it__list ul > li:hover::before {
  opacity: 1;
  border-color: #00b894;
  background-color: #00b894;
  color: #ffffff;
}

.egg {
  position: absolute;
  left: 0;
  bottom: 0;
  -moz-transform: translateX(-400px);
  -o-transform: translateX(-400px);
  -ms-transform: translateX(-400px);
  -webkit-transform: translateX(-400px);
  transform: translateX(-400px);
  -webkit-transition: transform 250ms ease-in-out;
  -moz-transition: transform 250ms ease-in-out;
  -ms-transition: transform 250ms ease-in-out;
  -o-transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
}

.egg.egg--active {
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.egg.egg--out {
  -moz-transform: translateX(-400px);
  -o-transform: translateX(-400px);
  -ms-transform: translateX(-400px);
  -webkit-transform: translateX(-400px);
  transform: translateX(-400px);
}
